In [10]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
def change_age_range(age_range):
    if(len(age_range)==4):
        return age_range[:2] + "--" + age_range[2:]
    elif(len(age_range)==3):
        return age_range[:1] + "--" + age_range[1:]
    else:
        return age_range + "+"

In [12]:
tb_df = pd.read_csv("../Original data/tb.csv")

tb_df = tb_df.rename(columns={'iso2':'country'})
tb_df = tb_df.rename(columns=lambda x: re.sub('new_sp_','',x))
tb_df = tb_df.drop(['new_sp', 'mu', 'fu', 'm04', 'f04', 'm514', 'f04', 'f514'], axis=1)
tb_df = pd.melt(tb_df, id_vars=['country', 'year'], var_name='column', value_name='cases')
tb_df['sex'] = tb_df["column"].str[0]
tb_df['age'] = tb_df["column"].str[1:].apply(change_age_range)
tb_df = tb_df.drop(['column'], axis=1)
tb_df = tb_df[np.isfinite(tb_df['cases'])]
tb_df['cases'] = tb_df['cases'].apply(lambda x: int(x))

In [15]:
tb_df.reset_index(inplace=True)
tb_df.drop(['index', 'level_0'], axis=1, inplace=True)
tb_df.head()

  country  year  cases sex    age
0      AD  1996      0   m  0--14
1      AD  1997      0   m  0--14
2      AD  1998      0   m  0--14
3      AD  1999      0   m  0--14
4      AD  2000      0   m  0--14

In [16]:
tb_df.to_csv("../Analysis data/tidy_tb.csv")